<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogmire</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
  </head>

  <body>
    <div class="container">
      <header class="box">
          <div class="navbar-start">
            <a href="/" class="title is-1">Blogmire</a>
          </div>
      </header>

      {{{body}}}

      <footer class="footer box mt-5">
        <div class="content has-text-centered">
          <a href="https://github.com/HoneyBuzz94">HoneyBuzz94</a>
        </div>
      </footer>
    </div>
  </body>
</html>